{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <form class="form-access" method="POST">
        <h2 class="form-access-heading">Enter access code</h2>
        <label for="inputAccess" class="sr-only">Access code</label>
        {% for error in form.access_code.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
        <input name="access_code" type="number" id="inputAccess" class="form-control" placeholder="Access code" required autofocus>
        <input type="hidden" name="alert_type" value="app" />
        <input type="hidden" name="secret" value="{{ secret }}" />
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
      </form>

    </div> <!-- /container -->
{% endblock content %}
