{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Activity Feed</h1>

        <table class="table table-striped">
        <tr>
            <th>When</th>
            <th>What</th>
            <th>Who</th>
        </tr>
        {% for activity in view.activities %}
            <tr>
                <td>{{ activity.date_time }}</td>
                <td>{{ activity.alert_type }}</td>
                <td><img src="{{ activity.visitor.photo.url|default:'/static/sil-thumb.jpg'}}" class="img-responsive img-rounded" alt="{{ activity.visitor|default_if_none:'' }}" title="{{ activity.visitor|default_if_none:'' }}"></td>
            </tr>
        {% endfor %}
        </table>

        <ul class="pagination pagination-centered">
            {% if view.activities.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ view.activities.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if view.activities.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if view.activities.has_next %}
                <li><a href="?page={{ view.activities.next_page_number }}">></a></li>
                <li><a href="?page={{ view.activities.paginator.num_pages }}">>></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}
