{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% for message in messages %}
            <h1>{{ message }}</h1>
        {% endfor %}
    </div>
{% endblock content %}
