{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if visitor %}
            <h1>{{ visitor.user.get_full_name }} <em>at the door</em></h1>
            <img src="{{ visitor.photo.url }}">
        {% else %}
            <h1>No visitor found</h1>
        {% endif %}
    </div>
{% endblock content %}
